
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.container {
    background-color: #000;
    color: #fff;
    padding: 100px 60px;
}

h1 {
    padding: 10px;

}

input {
    padding: 8px 30px;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

p {
    padding-top: 20px;
    font-size: 1.4rem;
}
